<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Yogurt Test Suite">
      <directory>tests/oscarpalmer/Yogurt</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src/oscarpalmer/Yogurt</directory>
    </whitelist>
  </filter>
</phpunit>